@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 17, 17;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "Neue Haas Grotesk Text", "Helvetica Neue", "IBM Plex Sans", sans-serif;
  letter-spacing: -0.005em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
